<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
        <a class="nav-link" routerLink="view">View All Student List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="add-student">Add New Student</a>
      </li>

    </ul>


  </div>
</nav>


<h1 class="text-primary" style="text-align: center;">Student Management Application With Angular + Node js</h1>
<router-outlet></router-outlet>


<div style="text-align: center;" class="main-body">
  <div class="row gutters-sm">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="/assets/profile.jpg" alt="Admin" class="rounded-circle mr-2" width="100">
            <div class="mt-3">
              <h4>Akshay Patil</h4>
              <h5 class="text-primary">Full Stack Developer</h5>
            </div>
          </div>
          <div class="footer-social">
            <p>Follow Me</p>

            <a href="https://twitter.com/BhaleraoAkhil" title="Twitter" target="_blank"><i
                class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/akshaypatil30/" title="LinkedIn+" target="_blank"><i
                class="fa fa-linkedin"></i></a>
            <a href="https://github.com/akshhpatil" title="Github" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/iamakkkhil/" title="Instagram" target="_blank"><i
                class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>